body {
  font-size: 18px;
  font-family: Courier, monospace;
  background: url("/static/images/eveningjosh.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
  
/* for button transparency and coloring */
.semi-transparent-button {
  box-sizing: border-box;
  top: 0px;
  position: sticky;
  margin: 0 auto;
  padding: 8px;
  width: 80%;
  max-width: 150px;
  background: #fff; /* fallback color for old browsers */background: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  color: #e1dad2;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
}

/* H1 styling for neon */
.neonText {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #bc13fe,
    0 0 82px #bc13fe,
    0 0 92px #bc13fe,
    0 0 102px #bc13fe,
    0 0 151px #bc13fe;
}

@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #bc13fe,
      0 0 80px #bc13fe,
      0 0 90px #bc13fe,
      0 0 100px #bc13fe,
      0 0 150px #bc13fe;
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}
  
  /* Additional styling for neonText*/
h1 {
  text-align: center;
  font-size: 4.2rem;
  text-transform: uppercase;
  font-weight: 400;
  animation: flicker 1.5s infinite alternate;
}

/* unvisited link */
a:link {
    color: #1b2461;
  }
  
/* visited link */
a:visited {
    color: #1b2461;
  }
  
/* mouse over link */
a:hover {
    color:#1b2461;
  }
  
/* selected link */
a:active {
    color: #1b2461;
  }

/* font color */
p {
    color:#fff;
  }

/* frienevents logo at top */
h6 {
  margin: 0 auto;
  padding: 8px;
  width: 90%;
  max-width: 500px;
  background: #000103; 
  border-radius: 8px;
  color: #b4a2a4;
  text-align: center;
  letter-spacing: 1px;
}

/* footer position */
.footer {
  position: bottom;
  bottom: 0;
  width: 100%;
  }


/* calendar title (the month, day, or week range) */
h2.fc-toolbar-title {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid;
  border-color: #eae5e6;
  border-radius: 8px;
}

/* calendar color (transparent) */
table.fc-scrollgrid.table-bordered.fc-scrollgrid-liquid {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid;
  border-color: #eae5e6;
  border-radius: 8px;
}

/* ---- CALENDAR BUTTONS ---- */

/* Today button active mode */
button.fc-today-button.btn.btn-primary.active {
  background-color: #9294bc;
  border: 1px solid;
  border-color: #eae5e6;
  border-radius: 8px;
}

/* Today button */
button.fc-today-button.btn.btn-primary {
  background-color: #9294bc;
  border: 1px solid;
  border-color: #eae5e6;
  border-radius: 8px;
}

/* Month button active mode */
button.fc-dayGridMonth-button.btn.btn-primary.active {
  background-color: #9294bc;
  border: 1px solid;
  border-color: #eae5e6;
  border-radius: 8px;
}

/* Month button */
button.fc-dayGridMonth-button.btn.btn-primary {
  background-color: #9294bc;
  border: 1px solid;
  border-color: #eae5e6;
  border-radius: 8px;
}

/* Week button active mode */
button.fc-timeGridWeek-button.btn.btn-primary.active {
  background-color: #9294bc;
  border: 1px solid;
  border-color: #eae5e6;
  border-radius: 8px;
}

/* Week button */
button.fc-timeGridWeek-button.btn.btn-primary {
  background-color: #9294bc;
  border: 1px solid;
  border-color: #eae5e6;
  border-radius: 8px;
}

/* Day button active mode */
button.fc-timeGridDay-button.btn.btn-primary.active {
  background-color: #9294bc;
  border: 1px solid;
  border-color: #eae5e6;
  border-radius: 8px;
}

/* Day button */
button.fc-timeGridDay-button.btn.btn-primary {
  background-color: #9294bc;
  border: 1px solid;
  border-color: #eae5e6;
  border-radius: 8px;
}

/* Add Event button active mode */
button.fc-custom1-button.btn.btn-primary.active {
  background-color: #9294bc;
  border: 1px solid;
  border-color: #eae5e6;
  border-radius: 8px;
}

/* Add Event button */
button.fc-custom1-button.btn.btn-primary {
  background-color: #9294bc;
  border: 1px solid;
  border-color: #eae5e6;
  border-radius: 8px;
}

/* Previous button active mode */
button.fc-prev-button.btn.btn-primary.active {
  background-color: #9294bc;
  border: 1px solid;
  border-color: #eae5e6;
  border-radius: 8px;
}

/* Previous button */
button.fc-prev-button.btn.btn-primary {
  background-color: #9294bc;
  border: 1px solid;
  border-color: #eae5e6;
  border-radius: 8px;
}

/* Next button active mode */
button.fc-next-button.btn.btn-primary {
  background-color: #9294bc;
  border: 1px solid;
  border-color: #eae5e6;
  border-radius: 8px;
}

/* Next button */
button.fc-next-button.btn.btn-primary.active {
  background-color: #9294bc;
  border: 1px solid;
  border-color: #eae5e6;
  border-radius: 8px;
}

/* Prev Year button active mode */
button.fc-prevYear-button.btn.btn-primary.active {
  background-color: #9294bc;
  border: 1px solid;
  border-color: #eae5e6;
  border-radius: 8px;
}

/* Prev Year button */
button.fc-prevYear-button.btn.btn-primary {
  background-color: #9294bc;
  border: 1px solid;
  border-color: #eae5e6;
  border-radius: 8px;
}

/* Next Year button */
button.fc-nextYear-button.btn.btn-primary {
  background-color: #9294bc;
  border: 1px solid;
  border-color: #eae5e6;
  border-radius: 8px;
}

/* Next Year button */
button.fc-nextYear-button.btn.btn-primary.active {
  background-color: #9294bc;
  border: 1px solid;
  border-color: #eae5e6;
  border-radius: 8px;
}
