body {
  font-size: 18px;
  font-family: Courier, monospace;
  background: url("/static/images/sandyjosh.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}


div.container {
  background-color: rgba(255,255,255,0.5);
  border: 4px solid;
  border-color: #d8a28c;
  border-radius: 8px;
  overflow: scroll;
}


form.search, 
form.form-register, 
form.form-login, 
form.form-user-search,
form.form-add-event {
  background-color: rgba(255,255,255,0.5);
  border: 4px solid;
  border-color: #d8a28c;
  border-radius: 8px;
  overflow: scroll;
}

div#search-results-border.col-md-3 {
  background-color: rgba(255,255,255,0.5);
  margin: 53px;
  border: 4px solid;
  border-color: #d8a28c;
  border-radius: 8px;
  overflow: scroll;
  }

/* header and footer */
h6 {
  margin: 0 auto;
  padding: 8px;
  width: 90%;
  max-width: 500px;
  background: #000103; 
  border-radius: 8px;
  color: #b4a2a4;
  text-align: center;
  letter-spacing: 1px;
}

/* form headings */
  h4, label {
  font-size: .9rem;
  padding: 8px;
  width: 40%;
  max-width: 200px;
  background: #000103; 
  border-radius: 8px;
  color: #b4a2a4;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 5px;
  margin-top: 10px;
}


input {
  background-color: white;
  border-color: black;
  border-radius: 3px;
  letter-spacing: .02px;
  text-align: center;
  border-style: solid;
}

/* H1 styling for neon */
.neonText {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

@keyframes pulsate {
    
  100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 120px #0fa;
  
  }
  
  0% {

    text-shadow:
    0 0 2px #fff,
    0 0 4px #fff,
    0 0 6px #fff,
    0 0 10px #0fa,
    0 0 35px #0fa,
    0 0 65px #0fa,
    0 0 80px #0fa,
    0 0 90px #0fa;

  }
}
  
/* Additional styling for neonText*/
h1 {
  text-align: center;
  font-size: 5.2rem;
  text-transform: uppercase;
  font-weight: 400;
  animation: pulsate 2.1s infinite;
}

/* flash message */
ul.flashes {
  margin: 0 auto;
  padding: 8px;
  width: 90%;
  max-width: 500px;
  background: #000103; 
  border-radius: 8px;
  color: #b4a2a4;
  text-align: center;
  letter-spacing: 1px;
}

.footer {
  position: bottom;
  bottom: 0;
  width: 100%;
  }

/* the title box with the links */
.headtitle {
  box-sizing: border-box;
  top: 0px;
  position: sticky;
  margin: 0 auto;
  padding: 8px;
  width: 80%;
  max-width: 150px;
  background: #000103;
  border-radius: 8px;
  color: #b4a2a4;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
}

/* headline text */
.white-background {
  box-sizing: border-box;
  font-size: 1.2rem;
  top: 0px;
  margin: 0 auto;
  padding: 8px;
  width: 80%;
  max-width: 150px;
  background: #fff;
  border-radius: 8px;
  color: #000;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
}

/* explanation text, currently unused */
.white-background-small {
  box-sizing: border-box;
  top: 0px;
  margin: 0 auto;
  padding: 1px;
  width: 50%;
  max-width: 50px;
  background: #fff;
  border: 1px solid;
  border-color: #000;
  border-radius: 3px;
  color: #000;
  font-size: .9em;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
}

/* wanderlust homepage phrase box */
.coral-background {
  background-color: rgba(255,255,255,0.5);
  border: 3px solid;
  border-color: #d8a28c;
  border-radius: 8px;
  box-sizing: border-box;
  top: 0px;
  margin: 0 auto;
  padding: 8px;
  width: 80%;
  max-width: 150px;
  font-size: 1.4em;
  color: #000;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
}

.search-result-title {
  box-sizing: border-box;
  top: 0px;
  margin: 0 auto;
  padding: 4px;
  width: 80%;
  max-width: 150px;
  background: #000103;
  border-radius: 8px;
  color: #b4a2a4;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
}

img.event-image {
  filter: grayscale(100%);
  width: 300px;
  height: auto;
  border-radius: 8px;
  opacity: 80%;
}

/* for button transparency and coloring */
.semi-transparent-button {
  box-sizing: border-box;
  top: 0px;
  position: sticky;
  margin: 0 auto;
  padding: 8px;
  width: 80%;
  max-width: 150px;
  background: #fff; /* fallback color for old browsers */background: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  color: #e1dad2;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
}

/* unvisited link */
a:link {
  color: #a79aab;
}
  
/* visited link */
a:visited {
  color: #a79aab;
}
  
/* mouse over link */
a:hover {
  color:#d8a28c;
}
  
/* selected link */
a:active {
  color: #d8a28c;
}

/* font color */
p {
  color:#fff
}

/* having fun with the register template checkbox */
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
}

input[type="checkbox"] {
  position: relative;
  border-radius: 3px;
  width: .8em;
  height: .8em;
  border: 1px solid black;
  /* Adjusts the position of the checkboxes on the text baseline */
  vertical-align: -2px;
  /* Set here so that Windows' High-Contrast Mode can override */
  color: rgb(98, 102, 98);
}

input[type="checkbox"]::before {
  content: "✔";
  position: absolute;
  border-radius: 3px;
  font-size: 1.2em;
  right: -1.1px;
  top: -0.5em;
  visibility: hidden;
}

input[type="checkbox"]:checked::before {
  visibility: visible;
}

input[type="checkbox"]:disabled {
  border-color: black;
  background: #fff;
  color: #a79aab;
}