{% extends 'base.html' %}

{% block extra_head %}  <link rel="stylesheet" href="/static/css/styles.css">  {% endblock %}

{% block content %}

<h1 class="neonText">Event Details</h1>
  <p>Wanderlust come true!</p>

  <div class="container">
  {% from "_formhelpers.html" import render_field %}
  <form method=post>
    <dl>
      {{ render_field(form.event_title) }}
      {{ render_field(form.event_url) }}
      {{ render_field(form.event_date) }}

    </dl>
    <p><input type=submit>
  </form>
  </div>


{% endblock %}