<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{% block title %}FrienEvents{% endblock %}</title>
  <link rel="stylesheet" href="/static/css/styles.css">
  <script src="http://code.jquery.com/jquery.js"></script>
</head>

<body>

  <div class="header-links">
    <a href="/calendar">Calendar</a>
    <a href="/login">Login</a>
    <a href="/logout">Logout</a>
  </div>

  <h1>FrienEvents</h1>
  {% block content %}
  <!-- BODY CONTENT GOES HERE -->
  {% endblock %}
  <footer>Collaborating events with friends since 2021.</footer>
</body>
</html>
