<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{% block title %}FrienEvents{% endblock %}</title>
  <link rel="stylesheet" href="/static/css/styles.css">
  <script src="http://code.jquery.com/jquery.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<body>


  <div class="header-links">
    <a href="/">Home</a>
    <a href="/calendar">Calendar</a>
    <a href="/register">Register</a>
    <a href="/login">Login</a>
    <form action="/logout"><a href="/logout">Logout</a></form>
  </div>

  <h1>FrienEvents</h1>
  {% block content %}
  <!-- BODY CONTENT GOES HERE -->
  {% endblock %}
  <footer>Collaborating events with friends since 2021.</footer>
</body>
</html>
