{% extends 'base.html' %}

{% block title %}FrienEvents{% endblock %}

{% block extra_head %}
<link href='https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.css' rel='stylesheet' />

<link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.css' rel='stylesheet' />
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.js'></script>

<link href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/all.css' rel='stylesheet' />
{% endblock %}

{% block content %}
<h2>Calendar Page</h2>
<p>Wanderlust come true!</p>
<p>Showing {{user.username}} Calendar!</p>


{% if user == current_user %}
<div id="current_user"></div>
{% endif %}


<div id="calendar" data-user-id="{{user.user_id}}"></div>

<div class="modal fade" id="eventModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventModalTitle"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <p>
          Start time: <span id="eventModalStart"></span>
        </p>
      </div>

      <div class="modal-footer">
        <a id="eventModalUrl" class="btn btn-primary">Open Event URL</a>
        <button id="eventModalDelete" type="button" class="btn btn-secondary">Delete Event</button>
      </div>

    </div>
  </div>
</div>
{% endblock %}

{% block extra_body %}
<script src="/static/js/calendar.js"></script>
{% endblock %}