{% extends 'base.html' %}

{% block title %}FrienEvents Homepage{% endblock %}

{% block content %}

  <h2>Login Page</h2>
  <p>Wanderlust come true!</p>
  

  <h1>LOGIN</h1>

  {% from "_formhelpers.html" import render_field %}
  <form id="loginForm" class="form form-register" method="POST" action="" role="form">
      {{ render_field(form.username, placeholder="username") }}<br>
      {{ render_field(form.password, placeholder="password") }}<br>
      <p><input type=submit value="Login">
  </form>


{% endblock %}